Source: hptsqfix
Section: mail
Priority: optional
Maintainer: Pavel Andreew <sfpavel@users.sourceforge.net>
Build-Depends: debhelper (>> 4.0.0), libsmapi-dev(>=2.4-1), libfidoconf1-dev (>= 1.4-1)
Standards-Version: 3.6.1

Package: hptsqfix
Architecture: any
Depends: ${shlibs:Depends}
Description: Squish message base repair utility
 This tool rebuild index and some info in squish message bases
